// .rui-dialog-container {
//     display: none;
// }

// .rui-dialog-container.open {
//     display: block;
// }

.rui-dialog{
    position: fixed;
    outline: 0;
    overflow-x: hidden;
    overflow-y: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1050;
}

.rui-dialog-content {
    position: relative;
    width: auto;
    padding: 20px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
    background-color: #fff;
    border-radius: 4px;
    box-sizing: border-box;
    opacity: 0;
    transform: scale(0.8,0.78);
    transition: all 0.2s ease-in;
}

.rui-dialog-content.open{
    margin-top: 50px;
    margin-bottom: 50px;
    opacity: 1;
    transform: none;
    transition: all 0.2s ease-out;
}

.rui-dialog-content.small{
    max-width: 300px;
}

.rui-dialog-content.medium{
    max-width: 500px;
}

.rui-dialog-content.large{
    max-width: 800px;
}

.rui-dialog-content.full-screen{
    width: 100vw;
    min-height: 100vh;
    margin: 0px;
    border-radius: 0px;
}

.rui-dialog-content .close-btn{
    position: absolute;
    top: 10px;
    right: 15px;
    color: #a5a3a3;
    cursor: pointer;
}

.rui-dialog-backdrop{
    position: fixed;
    z-index: 1000;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.2s ease-out;
    background: rgba(0,0,0, .6);
}

.rui-dialog-backdrop.open{
    opacity: 0.5;
    transition: opacity 0.2s ease-out;
}

@media (max-width : 576px){
    .rui-dialog-content {
        width: 100vw !important;
        min-height: 100vh;
        margin: 0px !important;
        border-radius: 0px !important;
    }
}